/* --------------------------------- */
/* App.js styling section */
html {
  font-size: 62.5%;
  font-family: Roboto;
  background-size: cover;
  background-image: url(./assets/colorwall.jpg)
}
.App {
  font-family: Roboto;
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
  background-color: lightgrey;
  width: 50%;
  margin: 3% auto 0; 
  border: 2px solid black;
  /* background-image: linear-gradient(to right, #45933E, lightgrey); */
}
h2 {
  text-align: center;
  font-size: 3rem;
}
label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  font-size: 2rem;
}
input,
select,
textarea {
  max-width: 100%;
  margin: 5px 0 0;
  display: block;
  width: 90%;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  transition: all 0.3s;
  font-size: 1.4rem;
  letter-spacing: 0.5px;
  background-color: white;
}
select {
  height: 40px;
  width: 325px;
}
select:focus {
  outline: none;
  border-color: #E3C291;
  /* background-image: linear-gradient(to right, #45933E, #E3C291); */
}
input:focus {
  outline: none;
  border-color: #E3C291;
  /* background-image: linear-gradient(to right,#45933E, #E3C291); */
}
button {
  margin: 0 auto;
  width: 150px;
  display: inline-block;
  padding: 8px 11px;
  font-size: 2rem;
  text-transform: uppercase;
  border: 1px solid black;
  border-radius: 5px;
  letter-spacing: 2px;
  outline: none;
  background-color: #45933E;
  
  color: #fff;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
button:hover {
  background-image: none;
  background-color:#45933E;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
}
button:disabled {
  background-image: none;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.1);
  cursor: not-allowed;
}
.error {
  font-size: 2rem;
  color: red;
}
.terms {
  display: inline-block;
  align-self: self-start;
}
.terms input {
  width: 15px;
  display: inline-block;
  margin-right: 5px;
}


/* --------------------------------- */
/* NavBar componenet styling section */
.NavContainer {
  border: 2px solid black;
  background-color: #45933E;
  opacity: 75%;

}
h1.HowToTitle {
  color:  #E3C291;
  text-align: left;
  font-size: 30px;
  text-align: center;
  font-family: 'Yellowtail', cursive;
  margin: 0% auto; 
}
.navLinks {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-family: 'Roboto';
  font-size: 15px;
  margin-bottom: 1%;
}
.navLinks a { 
  text-decoration: none;
  color:white;

}

/* --------------------------------- */
/* OnboardOption component styling section */
.OnboardOptionsDiv {
  /* border: 2px solid black; */
  height: 50vh;
  display: flex;
  justify-content: space-evenly;
  /* justify-items: center; */
  align-items: center;
}
.OnboardOptionButtons button {
  height: 200px;
  width: 250px;
}

/* --------------------------------- */
/* UserDashboard component styling section */
img {
  max-height: 20vh;
}